:root {
  --primaryColor: #1b6de7;
  --accentColor: #5bc3ce;
  --darkGrey: #4a4a4a;
  --lightGrey: #bbb;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  font: inherit;
}

a {
  color: var(--primaryColor);
}

.container-fluid {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 0;
}

.container-fluid-max {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto 0;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
  width: 100%;
}

.hide-xl {
  display: none;
}

.grid-xl-1 {
  grid-column: span 1;
}

.hide-xl {
  display: none;
}

.grid-xl-2 {
  grid-column: span 2;
}

.hide-xl {
  display: none;
}

.grid-xl-3 {
  grid-column: span 3;
}

.hide-xl {
  display: none;
}

.grid-xl-4 {
  grid-column: span 4;
}

.hide-xl {
  display: none;
}

.grid-xl-5 {
  grid-column: span 5;
}

.hide-xl {
  display: none;
}

.grid-xl-6 {
  grid-column: span 6;
}

.hide-xl {
  display: none;
}

.grid-xl-7 {
  grid-column: span 7;
}

.hide-xl {
  display: none;
}

.grid-xl-8 {
  grid-column: span 8;
}

.hide-xl {
  display: none;
}

.grid-xl-9 {
  grid-column: span 9;
}

.hide-xl {
  display: none;
}

.grid-xl-10 {
  grid-column: span 10;
}

.hide-xl {
  display: none;
}

.grid-xl-11 {
  grid-column: span 11;
}

.hide-xl {
  display: none;
}

.grid-xl-12 {
  grid-column: span 12;
}

@media (max-width: 1903px) {
  .hide-l {
    display: none;
  }
  .grid-l-1 {
    grid-column: span 1;
  }
  .grid-l-2 {
    grid-column: span 2;
  }
  .grid-l-3 {
    grid-column: span 3;
  }
  .grid-l-4 {
    grid-column: span 4;
  }
  .grid-l-5 {
    grid-column: span 5;
  }
  .grid-l-6 {
    grid-column: span 6;
  }
  .grid-l-7 {
    grid-column: span 7;
  }
  .grid-l-8 {
    grid-column: span 8;
  }
  .grid-l-9 {
    grid-column: span 9;
  }
  .grid-l-10 {
    grid-column: span 10;
  }
  .grid-l-11 {
    grid-column: span 11;
  }
  .grid-l-12 {
    grid-column: span 12;
  }
}

@media (max-width: 1264px) {
  .hide-m {
    display: none;
  }
  .grid-m-1 {
    grid-column: span 1;
  }
  .grid-m-2 {
    grid-column: span 2;
  }
  .grid-m-3 {
    grid-column: span 3;
  }
  .grid-m-4 {
    grid-column: span 4;
  }
  .grid-m-5 {
    grid-column: span 5;
  }
  .grid-m-6 {
    grid-column: span 6;
  }
  .grid-m-7 {
    grid-column: span 7;
  }
  .grid-m-8 {
    grid-column: span 8;
  }
  .grid-m-9 {
    grid-column: span 9;
  }
  .grid-m-10 {
    grid-column: span 10;
  }
  .grid-m-11 {
    grid-column: span 11;
  }
  .grid-m-12 {
    grid-column: span 12;
  }
}

@media (max-width: 944px) {
  .hide-s {
    display: none;
  }
  .grid-s-1 {
    grid-column: span 1;
  }
  .grid-s-2 {
    grid-column: span 2;
  }
  .grid-s-3 {
    grid-column: span 3;
  }
  .grid-s-4 {
    grid-column: span 4;
  }
  .grid-s-5 {
    grid-column: span 5;
  }
  .grid-s-6 {
    grid-column: span 6;
  }
  .grid-s-7 {
    grid-column: span 7;
  }
  .grid-s-8 {
    grid-column: span 8;
  }
  .grid-s-9 {
    grid-column: span 9;
  }
  .grid-s-10 {
    grid-column: span 10;
  }
  .grid-s-11 {
    grid-column: span 11;
  }
  .grid-s-12 {
    grid-column: span 12;
  }
}

@media (max-width: 600px) {
  .hide-s {
    display: none;
  }
  .grid-xs-1 {
    grid-column: span 1;
  }
  .grid-xs-2 {
    grid-column: span 2;
  }
  .grid-xs-3 {
    grid-column: span 3;
  }
  .grid-xs-4 {
    grid-column: span 4;
  }
  .grid-xs-5 {
    grid-column: span 5;
  }
  .grid-xs-6 {
    grid-column: span 6;
  }
  .grid-xs-7 {
    grid-column: span 7;
  }
  .grid-xs-8 {
    grid-column: span 8;
  }
  .grid-xs-9 {
    grid-column: span 9;
  }
  .grid-xs-10 {
    grid-column: span 10;
  }
  .grid-xs-11 {
    grid-column: span 11;
  }
  .grid-xs-12 {
    grid-column: span 12;
  }
}

.height-0 {
  height: 0%;
}

.height-10 {
  height: 10%;
}

.height-20 {
  height: 20%;
}

.height-30 {
  height: 30%;
}

.height-40 {
  height: 40%;
}

.height-50 {
  height: 50%;
}

.height-60 {
  height: 60%;
}

.height-70 {
  height: 70%;
}

.height-80 {
  height: 80%;
}

.height-90 {
  height: 90%;
}

.height-100 {
  height: 100%;
}
/*# sourceMappingURL=default.css.map */